<ng-dm-table [data]="data">
  <ng-dm-table-header [name]="'col1'" [title]="'column 1'"></ng-dm-table-header>
  <ng-dm-table-header [name]="'col2'" [title]="'column 2'"></ng-dm-table-header>

  <ng-dm-table-header [title]="'common2'">
    <ng-dm-table-header [name]="'col4'" [title]="'column 4'"></ng-dm-table-header>
    <ng-dm-table-header [title]="'common'">
      <ng-dm-table-header [name]="'col3'" [title]="'column 3'"></ng-dm-table-header>
      <ng-dm-table-header [name]="'col2'" [title]="'column 2'"></ng-dm-table-header>
    </ng-dm-table-header>
  </ng-dm-table-header>
</ng-dm-table>
